@keyframes moveInFromLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes moveInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInFromBottom {
  0% {
    transform: translateY(100%) scale(1.2);
    opacity: 0;
  }

  50% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
