@import 'mixins';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
	list-style-type: none;
	box-sizing: inherit;
}

:root {
	--root-font-family: 'Yaldevi', sans-serif;
	--root-font-size: 1.8rem;
	--root-body-color: #f4f4f4;
	--root-text-color: #444;
	--color-white: #fff;

	--primary-color: #0a7460;
	--secondary-color: #0b846d;

	--font-weight-semi-light: 300;
	--font-weight-light: 400;
	--font-weight-semi-bold: 500;
	--font-weight-bold: 600;
	--font-weight-very-bold: 700;
}

html {
	font-size: 62.5%;
	@include respond(big-screen) {
		font-size: 75%;
	}
	@include respond(tab-land) {
		font-size: 56.25%;
	}
	@include respond(tab-port) {
		font-size: 50%;
	}
	@include respond(phone) {
		font-size: 43.75%;
	}
}

body {
	font-family: var(--root-font-family);
	background-color: var(--root-body-color);
	box-sizing: border-box;
	color: var(--root-text-color);
	line-height: 1.9;
	font-size: var(--root-font-size);
	padding: 5rem 10rem;

	@include respond(phone) {
		padding: 4rem;
	}
}
