.btn {
	padding: 1rem 3rem;
	color: var(--color-white);
	text-transform: uppercase;
	border-radius: 5rem;
	cursor: pointer;
	font-family: inherit;
	box-shadow: var(--box-shadow-light-primary);

	&--primary {
		background-color: var(--primary-color);
		transition: all 0.2s ease-out;

		&:hover {
			background-color: var(--secondary-color);
		}

		&:active {
			box-shadow: var(--box-shadow-light-secondary);
		}
	}
}
