@import '../mixins';

.header {
	max-width: 100%;
	display: flex;
	justify-content: space-between;

	@include respond(tab-port) {
		flex-direction: column;
	}

	&__details {
		margin-top: 8rem;
		flex-basis: 47%;
		animation: moveInFromLeft 2s ease-out 1 backwards;

		@include respond(tab-port) {
			margin-top: 4rem;
			animation-delay: 2s;
		}

		& > h1 {
			margin-bottom: 3rem;
			font-size: 4.5rem;
			line-height: 1.3;

			@include respond(tab-port) {
				font-size: 4rem;
			}
		}

		& > p {
			font-size: 2.5rem;
			margin-bottom: 4rem;
		}
	}

	&__image {
		flex-basis: 47%;
		height: 60rem;
		border-radius: 1rem;
		overflow: hidden;
		animation: moveInFromRight 2s ease-out 2s 1 backwards;

		@include respond(tab-port) {
			order: -1;
			animation-delay: 0s;
		}

		& > img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}
